body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.navbar{
    background-color: #ff6b6b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo{
    color:white;
    background:#222;
    padding:8px 15px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:15px;
    font-size: 15px;
}

.hero{
    background-image: url("https://images.unsplash.com/photo-1497493292307-31c376b6e479");
    height: 280px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color:white;
    padding-top: 80px;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    background:#f2f2f2;
}

.about-text p{
    margin-bottom: 10px;
}

.about-img img{
    width:100%;
}

@media(max-width: 768px){
    .about{
        grid-template-columns: 1fr;
    }
}
